<section class="sec about-sec" id="s-about" data-label="About Us">
  <div class="fi about-wrap">
    <div>
      <h2 class="about-h">
        <span class="about-word">About</span>
        <span class="brand">Test Tube<br/>Marketing</span>
      </h2>
      <div class="body">
        <p><strong>Hi, we're Ad and Fish, the founders of Test Tube Marketing.</strong></p>
        <p>Between us, we've been running marketing campaigns, building funnels, and making sales online for over 25 years.</p>
        <p>Unlike other agencies, who will try and force your business to fit their model, we take a completely unique approach to every client we work with. Our experienced team takes the time to understand your business, your goals, and your unique skills, to ensure we can deliver the results you're looking for.</p>
      </div>
    </div>
    <div class="team-col">
      <div class="team-header">THE TEAM</div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/sm_Adam.jpg" alt="Adam Ashburn"/><div><div class="team-name">Adam Ashburn</div><div class="team-role">Co-Founder</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/sm_Fish.jpg" alt="Nick Fisher"/><div><div class="team-name">Nick 'Big Fish' Fisher</div><div class="team-role">Co-Founder</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/Grace.png" alt="Grace Harrold"/><div><div class="team-name">Grace Harrold</div><div class="team-role">Head of Client Happiness</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/sm_Gabriella.jpg" alt="Gabriella Neocleous"/><div><div class="team-name">Gabriella Neocleous</div><div class="team-role">Head of Copywriting</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/Wayne.jpeg" alt="Wayne Naldo"/><div><div class="team-name">Wayne Naldo</div><div class="team-role">Head of Design</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/Emma_Garcia.jpg" alt="Emma Garcia"/><div><div class="team-name">Emma Garcia</div><div class="team-role">Head of Finance</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/Dante.png" alt="Dante Nyugen"/><div><div class="team-name">Dante Nyugen</div><div class="team-role">Head of Video</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/sm_Cooper_fixed.jpg" alt="Cooper"/><div><div class="team-name">Cooper</div><div class="team-role">Head of Security</div></div></div>
      <div class="team-row"><img class="team-photo" src="https://proposals.testtubemarketing.com/assets/sm_Thula_correct.jpg" alt="Thula"/><div><div class="team-name">Thula</div><div class="team-role">Head of Treats</div></div></div>
    </div>
  </div>
</section>
